{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style_display.css' %}">
    <link rel="icon" href="{% static 'assets/ico.ico' %}">
    <title>Display Profiles</title>
</head>
<body>
    <aside class="side-bar">
        <div class="logo">
            <img src="{% static 'assets/kali.svg' %}" alt="Kali Logo" class="logo">
        </div>
        <nav class="button-container">
            <a href="{% url 'input' %}" aria-label="Add new profile"><button>Add new profile</button></a>
            <a href="{% url 'display' %}" aria-label="List of profiles"><button>List of profiles</button></a>
        </nav>
        <a href="{% url 'logout' %}" class="exit" aria-label="Logout">
            <div class="exit"><img src="{% static 'assets/Vector.svg' %}" alt="Logout Icon"></div>
        </a>
    </aside>

    <main class="main-container">
        <div class="sbar-container">
            <form action="" method="get">
                <label for="search" class="sr-only">Search</label>
                <i class="fa fa-search icon"></i>
                <input type="text" id="search" name="q" class="search-bar" value="{{ query }}" placeholder="Search...">
            </form>
        </div>
        <div class="counter">
            <p>Total number of people in the database: {{ total }}</p>
        </div>
        <section class="screen-container">
            {% for todo in page_obj %}
            <article class="display-screen">
                <p class="displayed-text">
                    <label>First Name:</label>{{ todo.fname }}  <label>Last Name:</label>{{ todo.lname }}<br>
                    <label>CIN:</label>{{ todo.cin }}  <label>CNE:</label>{{ todo.cen }}<br>
                    <label>Birthday:</label> {{ todo.bday }}  <label>Gender:</label>{{ todo.ismale|yesno:"Male,Female" }}<br>
                    <label>Phone:</label>{{ todo.phone }}  <label>Email:</label>{{ todo.email }}<br>
                    <label>Additional Info:</label><p>{{ todo.info }}</p>
                </p>
            </article>
            {% endfor %}
        </section>

        <!-- Pagination Controls -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&q={{ query }}">« First</a>
                    <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">‹ Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&q={{ query }}">Next ›</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">Last »</a>
                {% endif %}
            </span>
        </div>
    </main>

    <div class="side-img">
        <img src="{% static 'assets/brow.svg' %}" alt="Decorative Image" class="img">
    </div>
</body>
</html>