{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style_inputs.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/ico.ico' %}">
    <title>Input</title>
</head>
<body>
    <div class="dashboard">
        <!-- Sidebar -->
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="logo">
                <img src="{% static 'assets/kali.svg' %}" alt="Kali Logo">
            </div>
            {% include 'nav.html' %}
            
        </aside>


        <!-- Main Content -->
        <main class="main-content">
            <!-- Import Excel Section -->
            <div class="import">
                <form method="post" action="{% url 'upload_excel' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="excel-file" class="Excel">
                        <i class="fas fa-file-excel"></i> Import Excel file 
                    </label>
                    <div>[Nom, Prenom, Date, Email, tel, CIN, CNE, Info]</div>
                    <input type="file" id="excel-file" name="excel_file" accept=".xls,.xlsx" hidden onchange="this.form.submit()">
                </form>
                <h3>OR</h3>
                <form method="post" enctype="multipart/form-data" action="{% url 'upload_pdf' %}">
                    {% csrf_token %}
                    <label for="pdf-file" class="Excel">
                        <i class="fas fa-file-excel"></i> Import PDF file 
                    </label>
                    <input type="file" id="pdf-file" name="pdf_file" accept=".pdf" hidden onchange="this.form.submit()">
                </form>
            </div>

            <!-- Input Form -->
            <form method="post" action="">
                {% csrf_token %}
                <div class="inputs-container">
                    <input class="input" type="text" placeholder="First name" name="Firstname" required>
                    <input class="input" type="text" placeholder="Last name" name="Lastname" required>
                    <select class="input" name="gender" required>
                        <option value="2">Gender</option>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                    <input class="input" type="date" name="date" required>
                    <input class="input" type="email" name="email" placeholder="Email" required>
                    <input class="input" type="tel" name="phone-nbr" placeholder="Phone number" required>
                    <input class="input" type="text" name="CIN" placeholder="CIN" required>
                    <input class="input" type="text" name="CNE" placeholder="CNE" required>
                    <textarea class="input" name="moreinfo" id="minfo" cols="30" rows="10" placeholder="Additional information"></textarea>
                </div>
                <button class="submit" type="submit">Submit</button>
            </form>

            
        </main>
    </div>

    <!-- Decorative Image -->
    <div class="decorative-image">
        <img src="{% static 'assets/Server-rafiki 1.svg' %}" alt="Decorative Image">
    </div>

    <!-- Messages Popup -->
    {% if messages %}
    <div id="popup-message" class="popup">
        {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    <script>
        setTimeout(function() {
            document.getElementById("popup-message").style.display = "none";
        }, 3000); // Hide after 3 seconds
    </script>
    {% endif %}
</body>
</html>